.container
  %ul
    - @task.errors.full_messages.each do |message|
      %li= message
  = form_with(model: task, url: board_tasks_path(task.board_id), local:true) do |f|
    .field
      = f.label :eyecatch, 'Eycatch'
      = f.file_field :eyecatch
    .field
      = f.label :name, 'Name'
      %br/
      = f.text_field :name, class: 'form-field'
    .field
      = f.label :description, 'Description'
      %br/
      = f.text_area :description, class: 'form-field field-cust'
    .actions
      = f.submit 'Submit', class: 'btn'