= link_to board_tasks_path(board_id: board.id) do
  .b-card
    .b-card-content
      .b-card-column
        .b-card-title
          = board.name
        .b-card-desc
          = board.description
      .b-card-detail
        = image_tag board.user.avatar_img, class: 'b-card-img'
    - if user_signed_in? && current_user.has_board_create?(board)
      .dropdown
        = image_tag 'Combined Shape.png', class: 'dropbtn'
        .dropdown-content
          = link_to 'Edit', edit_board_path(board.id)
          = link_to 'Delete', board_path(board.id), data: {turbo_method: :delete , turbo_confirm: '本当に削除してもよろしいですか'}
    -# .card-detail
    -#   = image_tag board.user.avatar_image